.underlineHelpCenter {
  text-decoration-line: underline;
  text-decoration-thickness: 0.08rem;
  text-underline-offset: 3px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.faqs {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 769px) {
  .faqs {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
  }
}
.faqs .faq {
  margin: 15px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.faqs .faq .faq-question {
  position: relative;
  padding-right: 80px;
  transition: all 0.8s ease;
  font-weight: 600;
}
@media only screen and (max-width: 590px) {
  .faqs .faq .faq-question {
    position: relative;
    font-size: 17px;
    padding-right: 40px;
    transition: all 0.4s ease;
    font-weight: 600;
  }
  /* .faqs .faq .faq-question::after {
    background-image: url(../images/arrow-up.png);
    position: absolute;
    top: 35%;
    right: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: all 0.2s ease;
  } */
}
@media only screen and (max-width: 590px) {
  .faqs .faq .faq-question {
    position: relative;
    font-size: 16px;
    padding-right: 40px;
    transition: all 0.4s ease;
    font-weight: 600;
  }
  /* .faqs .faq .faq-question::after {
    background-image: url(../images/arrow-up.png);
    position: absolute;
    top: 35%;
    right: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: all 0.2s ease;
  } */
}
@media only screen and (max-width: 417px) {
  .faqs .faq .faq-question {
    position: relative;
    font-size: 13px;
    padding-right: 40px;
    transition: all 0.4s ease;
    font-weight: 600;
  }
  /* .faqs .faq .faq-question::after {
    content: url(../images/arrow-up.png);
    position: absolute;
    top: 35%;
    right: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: all 0.2s ease;
  } */
}
@media only screen and (max-width: 358px) {
  .faqs .faq .faq-question {
    position: relative;
    font-size: 11px;
    /* padding-right: 80px; */
    transition: all 0.4s ease;
    font-weight: 600;
  }
  /* .faqs .faq .faq-question::after {
    content: url(../images/arrow-up.png);
    position: absolute;
    top: 35%;
    right: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: all 0.2s ease;
  } */
}

@media only screen and (max-width: 309px) {
  .faqs .faq .faq-question {
    position: relative;
    font-size: 10px;
    padding-right: 40px;
    transition: all 0.4s ease;
    font-weight: 600;
  }
  /* .faqs .faq .faq-question::after {
    content: url(../images/arrow-down.png);
    position: absolute;
    top: 35%;
    right: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: all 0.2s ease;
  } */
}
@media only screen and (max-width: 300px) {
  .faqs .faq .faq-question {
    position: relative;
    font-size: 10px;
    padding-right: 30px;
    transition: all 0.4s ease;
    font-weight: 600;
  }
  /* .faqs .faq .faq-question::after {
    content: url(../images/arrow-down.png);
    position: absolute;
    top: 35%;
    right: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: all 0.2s ease;
  } */
}

/* .faqs .faq .faq-question::after {
  content: url(../images/arrow-down.png);
  position: absolute;
  top: 35%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
} */

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  max-width: 90%;
  overflow: hidden;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 450px) {
  .faqs .faq .faq-answer {
    font-size: 14px;
  }
}
@media only screen and (max-width: 415px) {
  .faqs .faq .faq-answer {
    font-size: 12px;
  }
}
@media only screen and (max-width: 360px) {
  .faqs .faq .faq-answer {
    font-size: 10px;
  }
}
.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

/* .faqs .faq.open .faq-question::after {
  content: url(../images/arrow-up.png);
} */
.faqs .faq.open .faq-answer {
  max-height: 1000px;
  max-width: 90%;
  opacity: 1;
  color: #797979;
}
